.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 118px;
  font-size: 6rem;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 96px;
    font-size: 4.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 283px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 79px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 250px;
}

.u-section-2 .u-shape-1 {
  width: 250px;
  height: 125px;
  margin: 60px auto 60px 40px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 100px;
    margin-right: 430px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    margin-right: 290px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    margin-right: 90px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 422px;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-3 .u-rotation-parent-1 {
  width: 268px;
  height: 400px;
  margin: 0 auto;
}

.u-section-3 .u-image-1 {
  width: 400px;
  height: 269px;
}

.u-section-3 .u-image-2 {
  min-height: 422px;
  background-image: url("images/ggHAP.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 6px;
}

.u-section-3 .u-image-3 {
  min-height: 422px;
  background-image: url("images/G3-01.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-image-4 {
  min-height: 422px;
  background-image: url("images/www.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 17px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-3 .u-rotation-parent-1 {
    width: 219px;
    height: 277px;
  }

  .u-section-3 .u-image-1 {
    width: 326px;
    height: 219px;
  }

  .u-section-3 .u-image-2 {
    min-height: 348px;
  }

  .u-section-3 .u-image-3 {
    min-height: 348px;
  }

  .u-section-3 .u-image-4 {
    min-height: 348px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-3 .u-image-2 {
    min-height: 533px;
  }

  .u-section-3 .u-image-3 {
    min-height: 533px;
  }

  .u-section-3 .u-image-4 {
    min-height: 533px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2478px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 601px;
  }

  .u-section-3 .u-image-2 {
    min-height: 800px;
  }

  .u-section-3 .u-image-3 {
    min-height: 800px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    min-height: 800px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1590px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: 15px;
  }

  .u-section-3 .u-image-2 {
    min-height: 504px;
  }

  .u-section-3 .u-image-3 {
    min-height: 504px;
  }

  .u-section-3 .u-image-4 {
    min-height: 504px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-4 .u-image-1 {
  min-height: 422px;
  background-image: url("images/SMPwithhuman.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 422px;
}

.u-section-4 .u-container-layout-2 {
  padding: 28px 0;
}

.u-section-4 .u-image-2 {
  width: 712px;
  height: 228px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 58px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-4 .u-image-1 {
    min-height: 348px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-4 .u-image-2 {
    height: 186px;
    margin-top: 42px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-4 .u-image-1 {
    min-height: 267px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 267px;
  }

  .u-section-4 .u-image-2 {
    height: 142px;
    margin-top: 23px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-4 .u-image-1 {
    min-height: 401px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 401px;
  }

  .u-section-4 .u-image-2 {
    height: 163px;
    margin-top: 80px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-4 .u-image-1 {
    min-height: 252px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 252px;
  }

  .u-section-4 .u-image-2 {
    height: 102px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 689px;
}

.u-section-5 .u-image-1 {
  width: 624px;
  min-height: 624px;
  background-image: url("images/smb.jpg");
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 33px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 422px;
}

.u-section-6 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-6 .u-rotation-parent-1 {
  width: 423px;
  height: 400px;
  margin: 0 auto;
}

.u-section-6 .u-image-1 {
  width: 400px;
  height: 423px;
}

.u-section-6 .u-image-2 {
  min-height: 422px;
  background-image: url("images/IMG_5768.JPG");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-6 .u-rotation-parent-1 {
    width: 347px;
    height: 380px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 380px;
    height: 347px;
  }

  .u-section-6 .u-image-2 {
    min-height: 348px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-6 .u-rotation-parent-1 {
    width: 262px;
    height: 208px;
  }

  .u-section-6 .u-image-1 {
    width: 208px;
    height: 262px;
  }

  .u-section-6 .u-image-2 {
    min-height: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 401px;
  }

  .u-section-6 .u-rotation-parent-1 {
    height: 207px;
    margin-top: 28px;
  }

  .u-section-6 .u-image-1 {
    width: 330px;
  }

  .u-section-6 .u-image-2 {
    min-height: 401px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-6 .u-rotation-parent-1 {
    height: 247px;
  }

  .u-section-6 .u-image-1 {
    width: 321px;
  }

  .u-section-6 .u-image-2 {
    min-height: 252px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-7 .u-image-1 {
  min-height: 422px;
  background-image: url("images/Frontier-02.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-7 .u-image-2 {
  min-height: 422px;
  background-image: url("images/Frontier-03.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-7 .u-image-3 {
  min-height: 422px;
  background-image: url("images/Frontier-01.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-7 .u-image-1 {
    min-height: 348px;
  }

  .u-section-7 .u-image-2 {
    min-height: 348px;
  }

  .u-section-7 .u-image-3 {
    min-height: 348px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-7 .u-image-1 {
    min-height: 267px;
  }

  .u-section-7 .u-image-2 {
    min-height: 267px;
  }

  .u-section-7 .u-image-3 {
    min-height: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1280px;
  }

  .u-section-7 .u-image-1 {
    min-height: 601px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    min-height: 601px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    min-height: 601px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-7 .u-image-1 {
    min-height: 378px;
  }

  .u-section-7 .u-image-2 {
    min-height: 378px;
  }

  .u-section-7 .u-image-3 {
    min-height: 378px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 500px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-8 .u-image-1 {
  min-height: 422px;
  background-image: url("images/frontier-04.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-8 .u-image-2 {
  min-height: 422px;
  background-image: url("images/frontier-05.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-8 .u-image-1 {
    min-height: 348px;
  }

  .u-section-8 .u-image-2 {
    min-height: 348px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-8 .u-image-1 {
    min-height: 267px;
  }

  .u-section-8 .u-image-2 {
    min-height: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-8 .u-image-1 {
    min-height: 401px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    min-height: 401px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-8 .u-image-1 {
    min-height: 252px;
  }

  .u-section-8 .u-image-2 {
    min-height: 252px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 500px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-9 .u-image-1 {
  min-height: 422px;
  background-image: url("images/GHPBLOGO.png");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-9 .u-image-2 {
  min-height: 422px;
  background-image: url("images/GHPBloggo.png");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-9 .u-image-3 {
  min-height: 422px;
  background-image: url("images/GHPBlogoo.png");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-9 .u-image-1 {
    min-height: 348px;
  }

  .u-section-9 .u-image-2 {
    min-height: 348px;
  }

  .u-section-9 .u-image-3 {
    min-height: 348px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-9 .u-image-1 {
    min-height: 267px;
  }

  .u-section-9 .u-image-2 {
    min-height: 267px;
  }

  .u-section-9 .u-image-3 {
    min-height: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1280px;
  }

  .u-section-9 .u-image-1 {
    min-height: 601px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    min-height: 601px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-3 {
    min-height: 601px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-9 .u-image-1 {
    min-height: 378px;
  }

  .u-section-9 .u-image-2 {
    min-height: 378px;
  }

  .u-section-9 .u-image-3 {
    min-height: 378px;
  }
}